<div>
  <button id="send">プッシュしてみる</button>
</div>
<ul>
  <li>エンドポイント:&ensp;<span id="label-endpoint"></span></li>
  <li>共有鍵:&ensp;<span id="label-p256dh"></span></li>
  <li>Auth:&ensp;<span id="label-auth"></span></li>
  <li>VAPID用共有鍵:&ensp;<span><%= @public_key %></span></li>
</ul>
